/* CSS Sheet for personal website */

a:active {
	color: yellow;
}

body {
	background-color: #969696;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

.header {
	margin: auto;
	height: 35%;
	text-align: center;
	width: 1250px;
	background-color: #003232
}

.header h1 {
	font-size: 38px;
	color: White;
	padding-top: 10px;
}

.header h2 {
	font-size: 24px;
	color: White;
	padding-bottom: 10px;
}

/* Sidebar */

.content {
	margin: auto;
	width: 1250px;
}

.content #sidebar {
	background-color: #003232;
	width: 20%;
	color: white;
	font-size: 16px;
	padding: 25px;
}

.content #description {
	padding: 20px;
	width: 80%;
	background-color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	line-height: 25px;
}

#sidebar a {
	color: #eaeadc;
	padding: 8px;
}

#sidebar h1 {
	border: 3px solid white;
	padding: 3px;
}

.pic-me {
	/* Allows text to be wrapped around picture */
	float: left;
	padding: 0 15px 0 0;
	height: 284px;
	width: 225px;
	border: 5px solid #ffffff;
}

#project-entry {
	/* Format for each project entry */
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid #000000;
	line-height: 27px;
}

#project-entry img {
	float: left;
	height: 180px;
	width: 160px;
	padding: 0px 15px 0px 10px;
}

#project-entry video {
	float: left;
	height: 165px;
	width: 150px;
	padding: 0px 15px 0px 10px;
}

#project-entry p {
	padding: 0px 15px 0px 15px;
}

.footer {
	margin: auto;
	margin-top: 10px;
	height: 10%;
	width: 1250px;
	background-color: #003232;
	text-align: center;
}

.footer h1 {
	font-size: 26px;
	color: White;
	padding: 20px 0px 20px 10px;
	display: inline-block;
}

.footer a {
	font-size: 20px;
	color: White;
	padding: 20px 0px 20px 10px;
}

.footer p {
	font-size: 20px;
	color: White;
	padding: 20px 0px 20px 10px;
	display: inline-block;
}

